.rowdisplay {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
    background-color: rgb(229, 233, 241);
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    -webkit-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
}