
.fa-filter{
    color:#dad8d8bb;
  }
  .td-hover:hover {
    background-color: #f5f5f5!important;
  }
  .img-title{
    width:100px; height: auto;
  }
  .selected{
    background-color: #f5f5f5!important;
  }