<mat-dialog-actions align="end">
<button type="submit" class="btn btn-sm btn-default" (click)=" this.dialogRef.close(false);">
    <span ><i class="fas fa-times" style="color:#dc3545"></i></span>
</button>
</mat-dialog-actions>
<mat-dialog-content>
<table mat-table [dataSource]="source" class="mat-elevation-z8">
    <!-- codeModule Column -->
    <ng-container matColumnDef="codeModule">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'codeModule'| translate }}</th>
        <td mat-cell *matCellDef="let element" class="text-center "> 
            <span *ngIf="element.id.codeModule==='H'">{{'hotel'| translate }}</span>
            <!-- <span *ngIf="element.id.codeModule==='T'">{{'Flight'| translate }}</span>
            <span *ngIf="element.id.codeModule==='V'">{{'Visa'| translate }}</span>
            <span *ngIf="element.id.codeModule==='F'">{{'Transfer'| translate }}</span>
            <span *ngIf="element.id.codeModule==='G'">{{'Package'| translate }}</span> -->
        </td>
    </ng-container>
    <!-- txAgMarkup Column -->
    <ng-container matColumnDef="txAgMarkup">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'txMarkup'| translate }}</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.txAgMarkup}} </td>
    </ng-container>
    <!-- mntAgMarkup Column -->
    <ng-container matColumnDef="mntAgMarkup">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'mntMarkup'| translate }}</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.mntAgMarkup}} </td>
    </ng-container>
       <!-- refUser Column -->
       <ng-container matColumnDef="refUser">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'User'| translate }}</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.refUser}} </td>
    </ng-container>
    <!-- dtCreate Column -->
    <ng-container matColumnDef="dtCreate">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'Create Date'| translate }}</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.dtCreate | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

         <!-- dtModif Column -->
<ng-container matColumnDef="dtModif">
    <th mat-header-cell *matHeaderCellDef class=" text-center"> {{'Last Update'| translate }}</th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{element.dtModif  | date: 'dd/MM/yyyy HH:mm'}} </td>
</ng-container>

     <!-- add to price Column -->
        <ng-container matColumnDef="addToPrice">
            <th mat-header-cell *matHeaderCellDef class="border2 text-center"> {{'addToPrice'|translate }}</th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="text-g" *ngIf="element.addToPrice === 'O'">
                    {{'Yes' | translate}}
                </span>
                <span class="text-r" *ngIf="element.addToPrice === 'N'">
                    {{'No' | translate}}
                </span>
            </td>

        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-dialog-content>