.l-icon{
  position: absolute!important;
  color: #ffffff63!important;
  font-size: 23px!important;
  margin-top: 7px!important;
  margin-left: 9px!important;
}


select option{
  background-color: #1c8aab;
}

select#gender{
  padding-left: 30%!important;
}