.card-cube {
    border-radius: 0px;
    height: 170px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 8px rgb(223, 222, 222);
}

.rowdisplay {
    margin-left: 0px;
    // margin-right: 0px;
    margin-top: 25px;
    background-color: rgb(229, 233, 241);
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    -webkit-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    // position: sticky;
    // top: 4rem;
}

.rowdisplay1 {
    margin-left: 0px;
    // margin-right: 0px;
    margin-top: 25px;
    background-color: rgb(229, 233, 241);
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    -webkit-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    // position: sticky;
    // top: 4rem;
}

.input-icons i {
    position: absolute;
  //  color: get
    margin: 8px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: left;
    padding-left: 30px;
}

.btnbook {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}
img{
    width: 21px;
    height: 21px;
}