<!-- forgotPassword -->

<form [formGroup]="forgotPassword" #forgotPasswordauth="ngForm">
    <!-- <div class="input-icons">
        <i class="la la-building icon" style='font-size:16px'></i>
        <input type="text" for="forgotPsw" placeholder="{{'Account Code'|translate}}" class="input-field form-control" name="AccountCode"
            id="AccountCode" formControlName="accountCode" [ngClass]="{ 'is-invalid': (submittedPassword && (forgotPassword.controls.accountCode.errors || wrongAccountCode))}"
        />
    </div> -->
    <div class="input-icons">
        <i class="la la-user icon la-icon l-icon"  ></i>
        <input type="text" placeholder="{{'Login'|translate}}" class="input-field form-control" name="login" id="login" formControlName="login" [ngClass]="{ 'is-invalid': (submittedPassword && forgotPassword.controls.login.errors)}" />
    </div>
    <div class="input-icons">
        <i class="la la-envelope icon la-icon l-icon"  ></i>
        <input type="Email" placeholder="{{'Email'|translate}}" class="input-field form-control" name="email" id="email" formControlName="email" [ngClass]="{ 'is-invalid': (submittedPassword && forgotPassword.controls.email.errors)}" [email]="true" />
    </div>
    <!-- <div class="row my-2">
        <div class=" col text-right">


            <u class="text-link clickable" (click)="openLogin()"> {{'Back to Login'|translate}}</u>

        </div>
    </div> -->

    <div class="row">
        <div class="col-12 text-right">
            <!-- <input type="button" value="{{'SEND EMAIL'|translate}}" (click)="forgotPsw()" class="btn  btn-sm btn-primary col-12 col-md-6"
            /> -->
            <u class="text-link clickable" (click)="openLogin()"> {{'Back to Login'|translate}}</u>    &nbsp;
            <button class="btn  btn-sm btn-primary col-12 col-md-6" (click)="forgotPsw()" [disabled]="loading">
                <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                {{'SEND EMAIL'|translate}}
            </button>
        </div>

    </div>
</form>