<div class="container-fluid  pt-0">
    <div *ngIf="!showDetails">
        <div class="mb-2">
            <form #searchForm="ngForm" class="py-2">
                <div class="row pl-2">
                    <div class="col-md-2 col-sm-6 form-check">
                        <div class="inputGroup">
                        <input type="radio" class="form-check-input" name="etat" value="" id="etat1" [(ngModel)]="searchModel.etatFileass">
                        <label class="form-check-label" for="etat1"> <small>{{'All'|translate}}</small> </label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6 form-check">
                        <div class="inputGroup">
                        <input type="radio" class="form-check-input" name="etat" value="C" id="etat2" [(ngModel)]="searchModel.etatFileass">
                        <label class="form-check-label" for="etat2"> <small>{{'Confirmed queue'|translate}}</small></label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6 form-check">
                        <div class="inputGroup">
                        <input type="radio" class="form-check-input" name="etat" id="etat3" value="B" [(ngModel)]="searchModel.etatFileass">
                        <label class="form-check-label" for="etat3"><small>{{'Booking queue'|translate}}</small></label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6 form-check">
                        <div class="inputGroup">
                        <input type="radio" class="form-check-input" name="etat" value="A" id="etat4" [(ngModel)]="searchModel.etatFileass">
                        <label class="form-check-label" for="etat4"><small>{{'Canceled queue'|translate}}</small></label>
                    </div>
                </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="{{'Unique ID'|translate}}" 
                        [(ngModel)]="searchModel.uniqueId" name="uniqueId">
                        <label for="floatingSelect"> {{'Unique ID'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="{{'National Identity'|translate}}" 
                        [(ngModel)]="searchModel.numCin" name="pnr">
                        <label for="floatingSelect"> {{'National Identity'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="{{'Passport'|translate}}" 
                        [(ngModel)]="searchModel.numPasseport" name="passport">
                        <label for="floatingSelect">{{'Passport'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="{{'First Name'|translate}}" 
                        [(ngModel)]="searchModel.assNom" name="passenger">
                        <label for="floatingSelect">{{'First Name'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="{{'Last Name'|translate}}"
                         [(ngModel)]="searchModel.assPrenom" name="assPrenom">
                         <label for="floatingSelect">{{'Last Name'|translate}}</label>
                    </div>
                </div>
                </div>


                <div class="row mt-2">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-floating mb-3">
                        <input class="form-control-sm form-control" type="text" placeholder="{{'Travel from' | translate}}" aria-label="State" [matAutocomplete]="autoFrom" (keyup)="getAirportsFrom($event)" name="departVol1" [(ngModel)]="inputdepartVol1">
                        <mat-autocomplete #autoFrom="matAutocomplete">
                            <mat-option *ngIf="!inputdepartVol1" class="text-right">
                            </mat-option>
                            <mat-option (onSelectionChange)="filteredOptionsFromClear($event)" *ngFor=" let option of
                            filteredOptionsFrom | async" [value]="option.id.csPays+ '-' +option.id.aireport+'-'+option.id.ciata">
                                <small>{{option.id.ville}} {{option.id.csPays}} {{option.id.aireport}} <a class="text-muted">{{option.id.ciata}}</a>
                            </small>
                            </mat-option>
                        </mat-autocomplete>
                        <label for="floatingSelect">{{'Travel from'|translate}}</label>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-floating mb-3">
                        <input class="form-control-sm form-control" type="text" placeholder="{{'Travel to'| translate}}" aria-label="State" [matAutocomplete]="autoTo" (keyup)="getAirportsTo($event)" [(ngModel)]="inputdestinationtVol1" name="destinationVol1">
                        <mat-autocomplete #autoTo="matAutocomplete">
                            <mat-option *ngIf="!inputdestinationtVol1" class="text-right">
                            </mat-option>
                            <mat-option (onSelectionChange)="filteredOptionsToClear($event)" *ngFor="let option of
                            filteredOptionsTo | async" [value]="option.id.csPays+ '-' +option.id.aireport+'-'+option.id.ciata">
                                <small>{{option.id.ville}} {{option.id.csPays}} {{option.id.aireport}} <a class="text-muted">{{option.id.ciata}}</a>
                            </small>
                            </mat-option>
                        </mat-autocomplete>
                        <label for="floatingSelect">{{'Travel to'|translate}}</label>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating mb-3">
                        <input type="date" class="form-control form-control-sm" name="bookingDateFrom" 
                        [(ngModel)]="searchModel.dtCreateMin">
                        <label for="floatingSelect">{{'Booking date from'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6 ">
                        <div class="form-floating mb-3">
                        <input type="date" class="form-control form-control-sm" name="bookingDateTo" 
                        [(ngModel)]="searchModel.dtCreateMax">
                        <label for="floatingSelect">{{'Booking date to'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6  ">
                        <div class="form-floating mb-3">
                        <input type="date" class="form-control form-control-sm" name="travelDateFom" 
                        [(ngModel)]="searchModel.dtStartassMin">
                        <label for="floatingSelect"> {{'Travel date from'|translate}}</label>
                    </div>
                </div>
                    <div class="col-md-2 col-sm-6  ">
                        <div class="form-floating mb-3">
                        <input type="date" class="form-control form-control-sm" name="travelDateTo" 
                        [(ngModel)]="searchModel.dtStartassMax">
                        <label for="floatingSelect">{{'Travel date to'|translate}}</label>
                    </div>
                </div>
                </div>
                <div class="row  mt-2">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-sm btn-success col-12 col-md-2 m-2" (click)="find()" 
                        [disabled]="loading"> <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div> <span>{{'Find'|translate}}</span>
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fas fa-search"></i>
                            </div>
                        </button>
                <!-- <button type="button" class="btn btn-sm  btn-primary col-12 col-md-2 m-2"
                    (click)="reset(searchForm)" [disabled]="loading">{{'Refresh'|translate}}</button> -->

                        <button type="button" class="btn btn-sm btn-primary col-12 col-md-2 m-2" (click)="reset(searchForm)" 
                        [disabled]="loading">{{'Refresh'|translate}}
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container rounded">
        <div class=" card card-no-border  mb-4">
            <label class="ml-2"> {{'Insurance'|translate}}({{total}} {{'results'|translate}}) </label>
            <ng2-smart-table id="myTableElementId" [settings]="settings" [source]="source" (custom)="customOption($event)">
            </ng2-smart-table>
        </div>
        </div>
    </div>

    <app-insurance-history-details [insuranceDetails]="insuranceDetails" (backward)='cancel($event)' *ngIf="showDetails">
    </app-insurance-history-details>

    <!-- <app-custom-loading *ngIf="loading"></app-custom-loading> -->
</div>