
i {
    color: goldenrod;
}

.rowdisplay {
    margin-left: 0px;
    // margin-right: 0px;
    margin-top: 25px;
    background-color: rgb(229, 233, 241);
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    -webkit-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    box-shadow: 9px 9px 13px -7px rgba(0, 0, 0, 0.33);
    position: sticky;
    top: 4rem;
}

.vl {
    border-bottom: 2px solid gainsboro;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.chargeInpt {
    padding-right: 1px!important;
    margin-top: -12px;
}

.hotelNme {
    font-size: 1.5rem;
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.stars {
    margin-left: 10px;
    margin-top: 10px;
}

.adress {
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(170, 177, 170);
}

.labelX {
    font-size: 1rem;
    margin-left: 10px;
}

.labelX1 {
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 5px;
}

.label1 {
    font-size: 1rem;
    margin-left: -5px;
}

.totAmnt {
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 12px;
    margin-top: 5px;
}

.margin10 {
    margin-top: 2px;
}

.nmbr {
    height: 25px;
    margin-top: 5px;
    font-size: 1.1rem;
}
.centerh4{
    text-align: center;
}

.full-width{
    width: 100%;
}

.stars {
    color: #dab349;
}

.booking-details .timing {
    font-size: .8333em;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.3333em;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0 5px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin: 0;
}
.shadow {
    border-radius: 10px;
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 5%), 0 0 0 1px rgb(0 0 0 / 8%);
}

.padding-book{
    padding: 1.5rem;
}


.is-invalid{
    border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("https://www.pngmart.com/files/3/Red-Cross-PNG-Clipart.png");background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 20px;
    
}
 
.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .alert-warning-custom {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffecb5;
    border-radius: 2%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
