<div class="container-fluid ">

    <div class="container">
        <div class="rounded">
            <div class="slogan"> {{'hotel slogan' | translate}}</div>
            <div class="slogan1"> {{'hotel slogan1' | translate}}</div>
            <div class="form-field" style="padding-top: 1%; z-index: 10000;">
                <app-hotel-search-form #searchHotel></app-hotel-search-form>
            </div>
            <div class="row ">
                <div class="col-12 text-right mrgBtm">
                   
                     
                    <button type="button" class="btn btn-success col-sm-11 col-md-2"
                    [disabled]="searchHotel.disableButtonSearch()" (click)="search(searchHotel.getSearchModel())">
                    <i class="fas fa-search  mr-2"></i> <span>{{'Search' |translate}}</span>
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-search"></i>
                    </div>
                </button>
                <!-- <button type="button" [disabled]="loadingSearch" (click)="searchHotel.reset()"
                        class="btn btn-primary col-sm-11 col-md-2">
                        <span>{{'Refresh' |translate}}</span>
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-sync-alt"></i>
                        </div>
                    </button> -->
                </div>
            </div>
            <div id="container">
                <div class="col-md-12 card-columns mx-auto p-2">
                    <div class="card card-history clickable" *ngFor="let item of latestSearch |async;let index = index"
                        (click)="searchHotel.getSearch(item)" title="Latest Search">
                        <div class="text-center py-3">
                            <i class="fas fa-history icon"></i> {{index+1}} - {{item.destHotel}} : {{'From'|
                            translate}} {{item.dtCheckin |date:'dd/MM/yyyy'}} {{'To'| translate}} {{item.dtCheckout
                            |date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>