<!-- <div *ngIf="newsData1.length" class="text-center py-4">
  <h1>{{'What we offer :' | translate}}</h1>
</div> -->

<!-- <div class="row" *ngIf="newsData1.length">
  <div class="col-md-4 col-lg-4 col-sm-6 crd mb-3 col-sx-12 text-center"
    *ngFor="let item of newsData1 ;let index = index">
    <div class="card-col clickable  p-3 mt-2">
      <div>
        <p class="text-title text-center pt-3"> <img [src]="item.pubPhoto"></p>
        <p class="text-title" [innerHTML]="trustHtml(item.lPub)"> </p>
      </div>
    </div>
  </div>
</div> -->


<footer class="footer-basic"><!-- Start: Social Icons -->
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy Policy </a></li>
    <li class="list-inline-item"><a href="#"> Terms of Use</a></li>
    <li class="list-inline-item"><a href="#">Corporate Governance</a></li>
  </ul>

  <p class="copyright"> All rights reserved by <span style="font-weight: bold;">SRA-SA Technology</span> | 2011 - 2023
  </p>

</footer>