.navX {
    margin-top: 50px;
    background-color: white;
}

.logoX {
    width: 150px;
}




.menu li a:before,
.menu li a:hover {
    text-shadow: 1px 1px 2px #A9CCE3, 0 0 25px rgb(189, 189, 247), 0 0 5px rgb(80, 80, 151);
    color: #8bbc2d;
}

.menu-bar {
    transition: all 0.1s ease-in-out;
    position: fixed;
    top: 0;
    left: 3em;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8bbc2d;
    overflow: hidden;
    z-index: 9;
    transition: 0.5s;
    margin-top: 50px !important;
    overflow: hidden;
}

.open {
    width: 10em;
    height: 100%;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 100px;
    }

    .menu {
        height: auto;
        width: 100%;
    }

    .menu li {
        display: inline-block;
        float: left;
    }

    .menu-bar li a {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
        left: 0;
        height: 0;
    }

    .open {
        width: 100%;
        height: auto;
    }

    .para {
        padding-left: 5px;
    }

    #main {
        margin-top: 2em;
        margin-left: 0em !important;

        .breadcrumb {
            display: none;
        }
    }
}

@media all and (max-width: 419px) {
    #main {
        margin-top: 5em !important;
    }
}

@media screen and (max-height: 34em) {

    .menu li,
    .menu-bar {
        font-size: 80%;
    }
}

@media screen and (max-height: 34em) and (max-width: 500px) {
    .menu {
        height: 4.4em;
    }
}

.active-module {
    color: white !important;
}

// scroll up

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(0, 53, 128);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.55;
}

#myBtn:hover {
    background-color: rgb(51, 98, 163);
}

.dropdown-menu {
    background-color: #8bbc2d;
}

.dropdown-menu li a {
    color: aliceblue;
}

.dropleft .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 21px;
    margin-right: 0.125rem;
}

.fa-bars {
    color: #004b7f;
}

// Example 02
.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #2c3e50;
    padding: 0 2rem;
  
    transition: transform 0.3s ease-in-out; // Transition on hide/show.
  }