<div class="loaderContent">
    <div class="align-middle d-flex justify-content-center">

        <div class="container">
            <!-- <img src="../../../../../assets/sra-sa/images/logo/sra-sa.png" style="
            height: 100px; ">
            <br> -->

<!--        

            <h3> Loading please wait ..</h3> -->
         

            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h1 class="wlc">WE'RE ON IT !</h1>
                    <h3 class="msg"> In a few moments , you'll be celebrating the best available rate!</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <circle cx="84" cy="50" r="10" fill="#0051a2">
                            <animate attributeName="r" repeatCount="indefinite" dur="0.25s" calcMode="spline" keyTimes="0;1" values="10;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
                            <animate attributeName="fill" repeatCount="indefinite" dur="1s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#0051a2;#89bff8;#408ee0;#1b75be;#0051a2" begin="0s"></animate>
                        </circle><circle cx="16" cy="50" r="10" fill="#0051a2">
                          <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
                          <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
                        </circle><circle cx="50" cy="50" r="10" fill="#1b75be">
                          <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
                          <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
                        </circle><circle cx="84" cy="50" r="10" fill="#408ee0">
                          <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
                          <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
                        </circle><circle cx="16" cy="50" r="10" fill="#89bff8">
                          <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
                          <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
                        </circle>
                        <!-- [ldio] generated by https://loading.io/ --></svg>
                </div>
                <div class="col-12 d-flex justify-content-center" *ngIf="searchModel != null">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                <div class="circle">
                                    <div class="text">
                                        <i class="fas fa-plane-departure"></i>
                                        <div class="bigger mt-3">
                                            <span>{{searchModel.destinationText}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <div class="circle">
                                    <div class="text">
                                        <i class="fas fa-calendar-alt"></i>
                                        <div class="bigger mt-3"> 
                                        <span>{{searchModel.checkIn | date:'dd/MM'}} - {{searchModel.checkOut | date:'dd/MM/yyyy'}} ({{this.searchModel.nbNights}} nights)</span></div>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-3 d-flex justify-content-center">
                                <div class="circle">
                                    <div class="text">
                                        <i class="fas fa-user-friends"></i>
                                        <div class="bigger mt-3">  {{searchModel.qteADT}} {{'Adult(s)'|translate}}, {{searchModel.nbRooms}} {{'Room'|translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>