<div class="container-fluid">

    <div class="" style="height: 100px;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="menuToggle">

                <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>


                <ul id="menu">
                    <a href="#">
                        <li>Acceuil</li>
                    </a>
                    <a href="#/about">
                        <li>Nos Services</li>
                    </a>


                </ul>


            </div>
        </nav>
        <div class="container-fluid ">
            <div class="row" style="padding-left: 5%;">
                <a href="#"> <img src="../../../assets/ybholidays/images/logo/logo-y2.png" style="
                    height: 52px;
                    margin-top: -12px;">

 
                </a>
            </div>
    </div>



    </div>
</div>
 
 
     
    <!-- <section   calss="" id="section1" data-speed="2" data-type="background">
         <div class="row">
            <div class="col-md-6 offset-5"><br><br>

              <h4 class="text-center" style="color:#0083b3; font-size:48px!important;font-family:cursive;"> Nos Services </h4> -->
             <!-- <img class="icone-title" src="../../../assets/images/titre-nos-services.png"> 
             </div>  
        </div>   
    </section> --> 
    
    <section   id="carouselExampleSlidesOnly" class="carousel slide"  data-ride="carousel" data-type="background" ss>
        <div class="carousel-item active">

            <img  class="d-block w-100 " src="../../../assets/ybholidays/nos-service/slide1.jpg">
            </div> 
           
          <div class="carousel-item " >
            <img  class="d-block" src="../../../assets/ybholidays/nos-service/slide2.png">
          </div>
          <div class="carousel-item ">
            <img class="d-block w-100" src="../../../assets/ybholidays/nos-service/slide6.png">
          </div>
          <div class="carousel-item  ">
            <img class="d-block w-100" src="../../../assets/ybholidays/nos-service/slide7.jpg">
          </div>
          

          <ol class="carousel-indicators  " style="margin-top: 300px;" >
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"  ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" ></li>
            
          </ol>

          <div class="ms-nav-prev"></div>
          <div class="ms-nav-next"></div>

           
         
       
    <div class="row">
        <div class="col-md-6 offset-5"><br><br>

        <!-- <h4 class="text-center" style="color:#0083b3; font-size:48px!important;font-family:cursive;"> Nos Services </h4> -->
         <img class="icone-title" src="../../../assets/images/titre-nos-services.png"> 
         </div>
          
    </div> 
    
    </section> 
      

<section id="section5" data-speed="2" data-type="background">
  
<div class="section ">
    <div class="container text-center text-white">
        <h1 style="font-size: 3em; padding-top: 10px;" class="text-center">Nos Services </h1>
        <div class="row ">
            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="300">
                <div class="">
                    <img class="icon-service" src="../../../assets/ybholidays/icons/gds.svg">
                    <div class="description">
                        <p>Flux multi GDS</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="300">
                <div class="">
                    <img class="icon-service" src="../../../assets/ybholidays/icons/card.svg">
                    <div class="description">
                        <p>Options de paiement multiples</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="300">
                <div class="">
                    <img class="icon-service" src="../../../assets/ybholidays/icons/dollar.svg">
                    <div class="description">
                        <p>Transaction multi-devise</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section id="section4" data-speed="2" data-type="background">
    <div class="container">
        <p>&nbsp;</p>
        <p style="text-align: justify"><span style="font-size: 17px; text-align:justify">Pendant un voyage, le budget le plus cons&eacute;quent est souvent celui de l'h&eacute;bergement.
                Pour r&eacute;duire ce budget, s&eacute;lectionnez les h&ocirc;tels au meilleur prix, les bons plans
                ou encore les chambres aux meilleurs rapports qualit&eacute;/prix. Cette nouvelle centrale de
                r&eacute;servation B2B de Ybholidays permet &agrave; nos clients d'acc&eacute;der &agrave; une offre
                h&ocirc;teli&egrave;re diversifi&eacute;e &agrave; travers le monde. R&eacute;servez votre
                h&ocirc;tel en ligne sur notre plateforme pour un s&eacute;jour confortable &agrave; prix
                attractif.</span></p>
        <br> <br>
        <h1>Ybholidays, meilleure plateforme de r&eacute;servation d'h&eacute;bergement B2B</h1>
        <p style="text-align: justify"><span style="font-size: 17px; text-align:justify">Ybholidays a mis en place ce syst&egrave;me de r&eacute;servation en ligne afin d'aider ses clients
                dans leurs r&eacute;servations d'h&ocirc;tels. Cette nouvelle plateforme de r&eacute;servation en
                ligne permet aux voyageurs et agences de voyages de&nbsp;<strong>r&eacute;server en quelques clics
                    diverses prestations&nbsp;</strong>comme les h&ocirc;tels, les transferts, et plusieurs types de
                chambres. Nous disposons &eacute;galement d'un comparateur de tarifs en temps r&eacute;el pour
                trouver les meilleures offres d'h&eacute;bergement &agrave; travers le monde. Notre mission
                principale est de fournir &agrave; chaque client, le meilleur produit de fa&ccedil;on simple, rapide
                et comp&eacute;titive.</span></p>
        <br> <br>
        <h1>R&eacute;servez votre h&ocirc;tel en ligne sur Ybholidays</h1>
        <p style="text-align: justify"><span style="font-size: 17px; text-align:justify ">Que ce soit pour un voyage d'affaires ou pour aller faire du tourisme, l'h&eacute;bergement est un
                &eacute;l&eacute;ment important pour passer un agr&eacute;able s&eacute;jour. Gr&acirc;ce &agrave;
                internet, mais surtout &agrave; notre syst&egrave;me de r&eacute;servation en ligne, vous allez
                pouvoir voyager aux quatre coins du monde sans aucun stress. Vous devez simplement vous connecter
                &agrave; notre plateforme pour voir et s&eacute;lectionner l'offre d'h&eacute;bergement qui
                correspond &agrave; vos attentes et &agrave; votre budget. Pour&nbsp;<strong>acc&eacute;der &agrave;
                    la plateforme de Ybholidays</strong>, il suffit de cr&eacute;er un compte en remplissant un
                formulaire d'acc&egrave;s. Apr&egrave;s avoir obtenu un code et un identifiant, vous pourrez vous
                connecter &agrave; tout moment pour organiser vos voyages rapidement et en toute simplicit&eacute;.
                S&eacute;lectionnez l'h&ocirc;tel de vos r&ecirc;ves sur Ybholidays &agrave; un prix
                raisonnable.</span></p>
    </div>



</section>

<section id="section3" data-speed="2" data-type="background">
    <br>
    <section class="container roundedpt-3 mb-3 text-center text-white">
        <h1 style="font-size:4em;">BECOME A GSA
        </h1>

        <p style="
        font-size: 1.3em;
        line-height: 1.3em;">

            Enjoy the key Benefits by joining the GRN Elite Circle. Become a GSA of your Country & get access to the
            Exclusive Control of YBHOLIDAYS system to promote to the Travel Companies in your Market.

        </p>
        <button class="button btn-blue"> Send Query </button>

    </section>


</section>